# Gradle files
.gradle/
build/

#Android Studio files
.idea/
*.iml
*.iws
*.ipr

# Local configuration
local.properties

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Output artifacts
*.apk
*.aar

# Captures
captures/
